<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DefiKindom_QuestRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DefiKindom_QuestRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.14.0" newVersion="2.0.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <DefiKindom_QuestRunner.Properties.Settings>
      <setting name="EncryptionKey" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentRpcUrl" serializeAs="String">
        <value>https://api.harmony.one</value>
      </setting>
      <setting name="AppTheme" serializeAs="String">
        <value>MaterialBlueGrey</value>
      </setting>
      <setting name="CurrentRpcShard" serializeAs="String">
        <value>1666600000</value>
      </setting>
      <setting name="MiningQuestTypeId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FishingQuestTypeId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ForagingQuestTypeId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WishingWellQuestTypeId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AutoStartQuestingOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastWalletIndex" serializeAs="String">
        <value />
      </setting>
      <setting name="FirstInit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="JewelInstanceMsInterval" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="QuestInstanceMsInterval" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="MinimizeToTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExecutorApi" serializeAs="String">
        <value>http://ec2-54-172-211-174.compute-1.amazonaws.com:9195/</value>
      </setting>
      <setting name="LastKnownJewelHolder" serializeAs="String">
        <value />
      </setting>
    </DefiKindom_QuestRunner.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <DefiKindom_QuestRunner.Properties.Settings>
      <setting name="QuestContractAddress" serializeAs="String">
        <value>0x5100bd31b822371108a0f63dcfb6594b9919eaf4</value>
      </setting>
      <setting name="HeroContractAddress" serializeAs="String">
        <value>0x5f753dcdf9b1ad9aabc1346614d1f4746fd6ce5c</value>
      </setting>
      <setting name="ProfileContractAddress" serializeAs="String">
        <value>0x6391F796D56201D279a42fD3141aDa7e26A3B4A5</value>
      </setting>
      <setting name="JewelContractAddress" serializeAs="String">
        <value>0x72cb10c6bfa5624dd07ef608027e366bd690048f</value>
      </setting>
      <setting name="MiningQuestContractAddress" serializeAs="String">
        <value>0x6ff019415ee105acf2ac52483a33f5b43eadb8d0</value>
      </setting>
      <setting name="FishingQuestContractAddress" serializeAs="String">
        <value>0xE259e8386d38467f0E7fFEdB69c3c9C935dfaeFc</value>
      </setting>
      <setting name="ForagingQuestContractAddress" serializeAs="String">
        <value>0x3132c76acF2217646fB8391918D28a16bD8A8Ef4</value>
      </setting>
      <setting name="WishingWellContractAddress" serializeAs="String">
        <value>0x0548214A0760a897aF53656F4b69DbAD688D8f29</value>
      </setting>
    </DefiKindom_QuestRunner.Properties.Settings>
  </applicationSettings>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:\\Logs\\log.txt" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="TelerikWinFormsThemeName" value="Fluent" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>